@font-face {
  font-family: MulishRegular;
  src: url(./fonts/Mulish-Regular.ttf);
}
@font-face {
  font-family: MulishBold;
  src: url(./fonts/Mulish-Bold.ttf);
}
@font-face {
  font-family: MulishSB;
  src: url(./fonts/Mulish-SemiBold.ttf);
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-image: url(./images/M4-desafio1-fondo.png);
  object-fit: cover;
  background-repeat: inherit;
}

form {
  background-color: white;
  border: 1px solid;
  width: 600px;
  height: 400px;
  padding: 20px;
  margin: 2rem;
  text-align: center;
}
form * {
  box-sizing: border-box;
  width: 500px;
  height: 50px;
  margin-bottom: 0.5rem;
}
form p {
  width: 100%;
  height: auto;
  font-family: "MulishBold";
  font-size: 32.64px;
  color: #04146c;
  margin: 1rem;
}

form input {
  padding-left: 0.5rem;
  font-size: 22.666666666666664px;
  font-family: "MulishRegular";
  color: #414166;
}
form button {
  cursor: pointer;
  font-size: 22.666666666666664px;
  color: white;
  font-family: "MulishSB";
  background-color: #15163d;
}
#contenedor {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/M4-desafio1-fondo-form.png);
}
